<div class="container">

  <input placeholder="Pretraga" type="text" [(ngModel)]="searchQuarry" />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Profilna slika</th>
        <th>Starost</th>
        <th>Rodjendan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of model.users | searchNamePipe: searchQuarry" class="svakiRed">
        <td class="svakiTd">
          <button class="btn btn-info btn-lg" (click)="showSingleUser(user.id)">Otvori</button>
        </td>
        <td class="svakiTd">{{user.id}}</td>
        <td class="svakiTd">{{user.firstName}}</td>
        <td class="svakiTd">{{user.lastName}}</td>
        <td class="svakiTd">
          <img [src]="'/assets/images/'+user.img" width="100" height="auto">
        </td>
        <td class="svakiTd">{{user.age}}</td>
        <td class="svakiTd">{{user.birthDate | date: "dd/MM/yyyy"}}</td>
        <td class="svakiTd">
          <button class="btn btn-success btn-lg" (click)="editUser(user.id)">Edituj</button>
        </td>
        <td class="svakiTd">
          <button class="btn btn-danger btn-lg" (click)="deleteUser(user.id)">Obrisi</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>