<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation">
            <a [routerLink]="('')">Pocetna</a>
        </li>
        <li role="presentation">
            <a [routerLink]="('/contacts')">Pregled kontakata</a>
        </li>
        <li role="presentation">
            <a [routerLink]="('/contacts/new')">Dodaj novi kontakt</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>