/* You can add global styles to this file, and also import other style files */
.form-control.is-valid{
    border-color: green;
}

.form-control.is-invalid{
    border-color: red;
}

.valid-feedback{
    color:green;
}

.invalid-feedback{
    color:red;
}

.border{
    border: solid 1px red;
    overflow: hidden;
    display: inline-block;
    padding: 8px;
    background-color: pink;
}

.welcome{
    display: inline-block;
    height: 200px;
    width: 400px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
}

.sredina{
    font-size: 400%;
    text-align: center;
    line-height: 200px;
}

.svakiRed{
    height: 100%;
}

.svakiTd{
    vertical-align: middle !important;
    text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}

a.active{
    color:red !important;
}

.pozadina{
    min-width: 100%;
    min-height: 100%;
    background-image: "assets/images/back.jpg";
}

td{
    font-size: 18px;
}