<div class="container">
  <ul>
    <div class="form-row">
      <div class="col-md-6">
        <li>
          <h4>Id: {{user.id}}</h4>
        </li>
        <li>
          <h4>Ime: {{user.firstName}}</h4>
        </li>
        <li>
          <h4>Prezime: {{user.lastName}}</h4>
        </li>
        <li>
          <h4>Starost: {{user.age}}</h4>
        </li>
        <li>
          <h4>Datum rodjenja: {{user.birthDate | date: 'dd/MM/yyyy'}}</h4>
        </li>
      </div>
      <div class="col-md-6">
        <li>
          <h4>Slika:
            <img [src]="'/assets/images/'+user.img" width="200" height="auto">
          </h4>
        </li>
      </div>
    </div>
  </ul>

</div>